asgiref==3.11.1
colorama==0.4.6
coverage==7.13.5
Django==6.0.3
et_xmlfile==2.0.0
iniconfig==2.3.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pluggy==1.6.0
pytest==8.3.5
pytest-cov==6.1.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3

dj-database-url==2.2.0

python-dotenv==1.0.1

psycopg[binary]==3.2.12

whitenoise==6.9.0

gunicorn==22.0.0
